
nav {
  background-color: blue;
  list-style: none;
}
.navigation {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: right;
}
nav li {
  display: inline-block;
  color: white;
  margin-right: 20px;
}
nav li a {
  color: white;
  text-decoration: none;
}