<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="Footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    
  </head>
  <body>
    <footer>
      <div class="container">
        <div class="linksWrap">
          <div>
            <h5>FRUIT & VEGETABLES</h5>
            <ul>
              <li><a href="#">Fresh Vegetables</a></li>
              <li><a href="#">Herbs & Seasonings</a></li>
              <li><a href="#">Fresh Fruits</a></li>
              <li><a href="#">Cuts & Sprouts</a></li>
              <li><a href="#">Exotic Fruits & Veggies</a></li>
              <li><a href="#">Packaged Produce</a></li>
              <li><a href="#">Party Trays</a></li>
            </ul>
          </div>
          <div>
            <h5>BREAKFAST & DAIRY</h5>
            <ul>
              <li><a href="#">Fresh Vegetables</a></li>
              <li><a href="#">Herbs & Seasonings</a></li>
              <li><a href="#">Fresh Fruits</a></li>
              <li><a href="#">Cuts & Sprouts</a></li>
              <li><a href="#">Exotic Fruits & Veggies</a></li>
              <li><a href="#">Packaged Produce</a></li>
              <li><a href="#">Party Trays</a></li>
            </ul>
          </div>
          <div>
            <h5>MEAT & SEAFOOD</h5>
            <ul>
              <li><a href="#">Fresh Vegetables</a></li>
              <li><a href="#">Herbs & Seasonings</a></li>
              <li><a href="#">Fresh Fruits</a></li>
              <li><a href="#">Cuts & Sprouts</a></li>
              <li><a href="#">Exotic Fruits & Veggies</a></li>
              <li><a href="#">Packaged Produce</a></li>
              <li><a href="#">Party Trays</a></li>
            </ul>
          </div>
          <div>
            <h5>BEVERAGES</h5>
            <ul>
              <li><a href="#">Fresh Vegetables</a></li>
              <li><a href="#">Herbs & Seasonings</a></li>
              <li><a href="#">Fresh Fruits</a></li>
              <li><a href="#">Cuts & Sprouts</a></li>
              <li><a href="#">Exotic Fruits & Veggies</a></li>
              <li><a href="#">Packaged Produce</a></li>
              <li><a href="#">Party Trays</a></li>
            </ul>
          </div>
          <div>
            <h5>BREADS & BAKERY</h5>
            <ul>
              <li><a href="#">Fresh Vegetables</a></li>
              <li><a href="#">Herbs & Seasonings</a></li>
              <li><a href="#">Fresh Fruits</a></li>
              <li><a href="#">Cuts & Sprouts</a></li>
              <li><a href="#">Exotic Fruits & Veggies</a></li>
              <li><a href="#">Packaged Produce</a></li>
              <li><a href="#">Party Trays</a></li>
            </ul>
          </div>
        </div>

        <div class="copyright">
          <p>Copyright 2025. All rights reserved.</p>
          <ul class="socials">
            <li>
              <a href="#" title="Facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Twitter">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>